<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhoubo.dao.ProductMapper">
	<resultMap type="com.zhoubo.pojo.Product" id="product">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="category_parent_id" jdbcType="INTEGER" property="categoryParentId"/>
		<result column="product_type" jdbcType="INTEGER" property="productType"/>
		<result column="product_stock" jdbcType="INTEGER" property="productStock"/>	
		<result column="product_create_date" jdbcType="TIMESTAMP" property="productCreateDate"/>	
		<result column="product_update_time" jdbcType="TIMESTAMP" property="productUpdateTime"/>
		<result column="product_price" jdbcType="DECIMAL" property="productPrice"/>
		<result column="product_activity_price" jdbcType="DECIMAL" property="productActivityPrice"/>
		<result column="product_creator" jdbcType="VARCHAR" property="productCreator"/>	
		<result column="product_name" jdbcType="VARCHAR" property="productName"/>
		<result column="category_name" jdbcType="VARCHAR" property="categoryName"/>		
	</resultMap>
	<sql id="basic_column_list">
	id,category_parent_id,product_type,product_stock,product_create_date,product_update_time,product_price,
	product_activity_price,product_creator,product_name,category_name
	</sql>
	
	 <select id="seleProducts" resultMap="product">
		select <include refid="basic_column_list"></include>
		from product 
			<where>
				<if test="productDTO.categoryId != 0 "  >
					category_parent_id = #{productDTO.categoryId}
				</if>
				<if test="productDTO.productName != null and productDTO.productName != '' "  >
					and product_name = #{productDTO.productName}
				</if>
				<if test="productDTO.productStat != 0 "  >
					and product_type = #{productDTO.productStat}
				</if>
				<if test="productDTO.productCreateDate!= null and productDTO.productCreateDate != '' "  >
					and product_create_date = #{productDTO.productCreateDate}
				</if>
				<if test="productDTO.productUpdateTime != null and productDTO.productUpdateTime != '' "  >
					and product_update_time = #{productDTO.productUpdateTime}
				</if>
			
			</where>
	</select> 
	
	<select id="count1" resultType="java.lang.Long">
		select count(*)
		from product 
			<where>
				<if test="productDTO.categoryId != 0 "  >
					category_parent_id = #{productDTO.categoryId}
				</if>
				<if test="productDTO.productName != null and productDTO.productName != '' "  >
					and product_name = #{productDTO.productName}
				</if>
				<if test="productDTO.productStat != 0"  >
					and product_type = #{productDTO.productStat}
				</if>
				<if test="productDTO.productCreateDate!= null and productDTO.productCreateDate != '' "  >
					and product_create_date = #{productDTO.productCreateDate}
				</if>
				<if test="productDTO.productUpdateTime != null and productDTO.productUpdateTime != '' "  >
					and product_update_time = #{productDTO.productUpdateTime}
				</if>
			</where>
	</select>
	
	
	
	<!-- paramterType 可以省略 -->
	<!-- 如果主键是自增，那么sql语句可以不用写 -->
	<!-- 如果接口Mapper传入的参数是一个对象，那么在取值的时候，直接取出对象里面的属性值 -->
	<insert id="addUser" parameterType="com.zhoubo.pojo.User" useGeneratedKeys="true" keyProperty="id">
	insert into user(user_name,password) values(#{userName},#{password})
	</insert>
	
</mapper>